BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: false
PointerAlignment: Left

IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^<([a-zA-Z0-9_]+)>$'
    Priority:        1
    Name:            std_libs
  - Regex:           '^<.*>$'
    Priority:        2
    Name:            non_std_libs
  - Regex:           '^".*"'
    Priority:        3
    Name:            local
SortIncludes:       true
